<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/all.css">
  </head>
  <body>
    <header>
      <h1>Ruby Template Languages</h1>
    </header>
    
    {{{yield}}}
    
    <footer>
      &copy; {{copyright_year}}
    </footer>
    
  </body>
</html>

