header
  h1 Ruby Template Languages
  a href="https://twitter.com/nathany" @nathany


markdown:
  * [ERB][]
  * [Haml][]
  * [Mustache][]
  * [Slim][]

  [ERB]: http://ruby-doc.org/stdlib-2.0.0/libdoc/erb/rdoc/ERB.html
  [Haml]: http://haml.info/
  [Mustache]: http://mustache.github.io/
  [Slim]: http://slim-lang.com/

nav.menu
  ul
    li>: a.next href=url("/erb") Start


